body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    margin: 0;
    
}
h1{
    font-size: 50px;
    color: white;
}
p{
    color: white;

}
.orange-color{
    color: orange;
}
.flexible{
    display: flex;
    margin-bottom: 200px;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange,tomato);
    font-weight: bold;
    color: white;
}
.gray-color{
    color: yellowgreen;
}
.tomato{
    color: tomato;
}
.yellow{
    color: yellow;
}
.second-half img{
    background-color: black;
}
.second-half{
    width: 50%;
    padding-right: 10%;
}
.second-half img{
    width: 150%;
}
.top-banner{
    background-image: url(top-banner-removebg-preview.png);
    background-repeat: no-repeat;
}
.second-part{
    background-image: url(dream-bg-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right;
}
h2{
    color: orange;
}
h3{
    color: orange;
}
.experience-item{
    width: 90%;
    padding-left: 5%;
    box-shadow: 10px 10px 40px rgb(234, 238, 232);
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    
    
    
    
}
.experience{
    padding: 5%;

}
#experience-id{
    border-left: 10px solid yellow;
    background-image:  linear-gradient(#7448ec, #5a3c03);
    border-image-slice: 1;

}
#Junior-Dev{
    border-left: 10px solid white;
    background-image:  linear-gradient(#35270c, #fa4ceb);
    border-image-slice: 1;

}
.footer{
    text-align: center;
}